.notes-pane {
	/*padding: 20px;*/
}

.notes-list {
	border-right-width: 1px;
	border-right-color: black;
}

.note-edit {
	float: left;
	/*margin-left: 25px;*/
}

.todo-pane {
	/*float: right;
	width: 50%;*/
}

.todo-text {
    margin-left: 5px;
}

input[type=checkbox] {
    position: relative;  
    bottom: -2px;
}

.show-all {
    margin-right: 5px;
}

.editor {
	/*width: 500px;*/
	height: 500px;
}

.editor-fullscreen {
		height: auto!important;
		width: auto!important;
		border: 0;
        margin: 0;
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
		z-index: 10000;
		background-color: white;
}

.todo-done {
	text-decoration: line-through;
}

.note-item {
	padding: 5px;
    cursor: pointer;
}

.note-selected {
	color: blue;
	background-color: #EFEFEF;
	border-radius: 5px;
}

.note-unselected:hover {
	color: blue;
}

.add-button {
	margin-left: 5px;
	margin-top: -3px; /* wtf, needed to make it line up with the input */
}

.clickable {
	cursor: pointer;
}
.clickable:hover {
	color: blue;
}

.note-title {
	width: 100px;
	height: 34px;
}

.note-delete {
	color: red;
	float: right;
}

.todo-input {
	width: 100px;
	height: 34px;
}

.filter {
    margin-left: 15px;
}

.editor-textarea {
	width: 100%;
	height: 300px;
}

.toplevel {
	padding: 10px;
}

