.notes-pane {
	float: left;
	width: 50%;
}

.notes-list {
	width: 30%;
	float: left;
}

.note-edit {
	/*float: right;*/
}

.todo-pane {
	float: right;
	width: 50%;
}

.todo-done {
	text-decoration: line-through;
}
